.banner-special {
  font-family: Lobster Two;
  font-style: normal;
  font-variant: normal;
}

.logo-frame {
  height: 160px;
  /* equals max image height */
  white-space: nowrap;
  /* this is required unless you put the helper span closely near the img */
  padding: 20px !important;
}

.logo-helper {
  display: inline-block;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.comunidad-logo {
  vertical-align: middle;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btn-facebook {
  height: 45px;
  padding-top: 5px;
  background-color: #448aff;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 7px rgba(27, 127, 204, 0.8);
  box-shadow: 0px 0px 7px rgba(27, 127, 204, 0.8);
  text-decoration: none;
}

.ico-messanger {
  height: 24px;
  float: left;
  top: 5px;
  margin-right: 8px;
}

.btn-facebook:focus {
  background-color: #2776fa;
}

.btn-facebook:hover {
  background-color: #2776fa;
  -webkit-box-shadow: 0px 0px 7px rgba(27, 127, 204, 0.8);
  box-shadow: 0px 0px 7px rgba(27, 127, 204, 0.8);
  text-decoration: none;
}

.categoria-title {
  cursor: pointer;
}

.img-special {
  border-right: solid #eeeeee;
}

.body-special {
  background-color: #f5f5f5;
}

.modal-special {
  margin: 0px;
}

.side-nav li.active {
  background-color: #f57c00;
}

.side-nav li:hover {
  background-color: #212121;
}

.side-nav li>a, .side-nav li>a>i {
  color: white !important;
}

.side-nav .divider {
  margin: 0px;
}

.nav {
  line-height: 104px;
}

#mobile-demo {
  background-image: url("../-img/bg-menu.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.side-nav-logo {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 30px;
}


/* label color */

.input-field label {
  color: white;
}


/* label underline focus color */

.input-field input[type=email] {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}


/* label focus color */

.input-field input[type=email]:focus+label {
  color: white !important;
}


/* label underline focus color */

.input-field input[type=email]:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}


/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}


/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
  color: white;
}

.input-center {
  float: none !important;
}

.banner {
  background-color: #f57c00;
  background-image: url("../-img/ciudad-CDMX.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.no-margin {
  margin: 0px;
}

.btn-banner {
  color: black
}

#categorias {
  padding-bottom: 60px;
}

#comunidades {
  padding-bottom: 60px;
}

#headlines {
  padding-bottom: 60px;
}

.section-title {
  padding-top: 60px;
  padding-bottom: 40px;
}

.section-subtitle {
  padding-top: 40px;
  padding-bottom: 40px;
}

img.center {
  display: block;
  margin: 0 auto;
}

.slider {
  width: 100%;
  margin: 0 auto;
  height: 300px !important;
  padding-bottom: 60px !important;
}

.slides {
  height: 300px !important;
  background-color: #f57c00 !important;
}

.slider .indicators .indicator-item {
  background-color: transparent;
  border: 3px solid white;
}

.slider .indicators .indicator-item.active {
  background-color: #f57c00;
}

footer {
  padding-top: 40px;
  color: white;
  height: 950px;
  background-image: url("../-img/ciudad-CDMX-dark.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.footer-p {
  padding-top: 40px;
}

.smButton {
  padding-left: 20px;
  padding-right: 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: black;
  margin-right: 0px;
  font-weight: bold;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #f57c00;
  text-decoration: underline;
  font-weight: bold;
}

.banner-strip {
  padding-top: 50px;
  color: white;
}

.banner-counter {
  font-size: 36px !important;
  margin: 0px !important;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 104px;
  line-height: 104px;
}

.logo {
  padding-top: 20px;
  padding-left: 80px;
}

.banner-strip>p {
  font-size: 20px;
  margin: 5px;
}

#mc_embed_signup .button {
  background-color: black !important;
}

#mc_embed_signup .button:hover {
  background-color: white !important;
  color: black
}

#mc_embed_signup .button:focus {
  outline: none;
}

.headline-title {

}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .banner {}
  .banner-special {
    font-size: 34px;
  }
  .banner-counter {
    font-size: 34px !important;
  }

  .headline-title {
    font-size:32px;
  }

  .headline-title-w-subheading {
    font-size:22px;
  }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
  .logo {
    height: 55px;
    margin: 5px auto 0;
    padding-left: 0;
  }

  .footer-logo{
    height: 40px;
  }

  .slides {
    height: 300px !important;
    background-color: #f57c00 !important;
  }

  .banner {
    height: 600px;
  }

  footer{
      height: 500px;
  }

  .banner-special {
    font-size: 38px;
  }
  .banner-counter {
    font-size: 38px !important;
  }
  .container {
    width: 95%;
  }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .banner {
    height: 700px;
  }
  footer{
      height: 700px;
  }
  .banner-special {
    font-size: 42px;
  }
  .banner-counter {
    font-size: 42px !important;
  }
  .container {
    width: 95%;
  }
}


/* iPads (landscape) ----------- */

@media only screen and (min-width: 768px) {
  .banner {
    height: 620px;
  }
  footer{
      height: 620px;
  }
  .banner-special {
    font-size: 46px;
  }
  .banner-counter {
    font-size: 46px !important;
  }
  .container {
    width: 95%;
    max-width: 1100px;
  }
  .modal {
    width: 75%;
  }
  .card .card-action {
    padding: 16px 8px;
    font-size: 13px;
  }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
  .banner {
    height: 700px;
  }
  footer{
      height:700px;
  }
  .banner-special {
    font-size: 50px;
  }
  .banner-counter {
    font-size: 50px !important;
  }
  .container {
    width: 100%;
    max-width: 1800px;
  }
  .card .card-action {
    padding: 16px 14px;
  }
  .modal {
    width: 65%;
  }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
  .banner {
    height: 800px;
  }
  footer{
      height: 800px;
  }
  .banner-special {
    font-size: 60px;
  }
  .banner-counter {
    font-size: 60px !important;
  }
  .container {
    max-width: 2400px;
    width: 100%;
  }
}
