//  xs
// Smartphones (portrait and landscape) -----------
// 20em == 320px
//  sm
// iPads (portrait and landscape) -----------
// 48em == 768px
@media only screen and (min-width: 48em) {}
//  md
// Desktops and laptops -----------
// 62em == 992px
@media only screen and (min-width: 62em) {}
//  lg
// Large screens -----------
// 75em == 1200px
@media only screen and (min-width: 75em) {
  header {
    display         : block;
    position        : relative;
    height          : 100px;
    margin-bottom   : 20px;
    background-color: $white;
    box-sizing      : border-box;

    .header {
      display      : block;
      position     : relative;
      width        : 100%;
      height       : 60px;
      padding-top  : 11px;
      padding-left : 80px;
      padding-right: 80px;
      box-sizing   : border-box;
    }

    .logo-hb {
      // logo-hb-negro
      float              : left;
      position           : relative;
      height             : 33px;
      width              : 184px;
      background-color   : $gris-4;
      background-image   : url("../-img/b--logo-hb-negro.png");
      background-position: center;
      background-size    : contain;
      background-repeat  : no-repeat;
      // margin-top      : 15px;
    }

    nav.nav-primary {
      float   : left;
      position: relative;

      li {
        display     : inline-block;
        position    : relative;
        padding-left: 50px;
        margin-top  : 12px;
        @include button-14();

        &.active {
          color: $medium-obscuro;
        }
      }
    }

    .profile {
      float        : right;
      position     : relative;
      height       : 40px;
      margin-left  : 50px;
      padding      : 5px 15px 5px 10px;
      border       : 1px solid $darkjungle;
      border-radius: $input-radius;
      box-sizing   : border-box;

      .icon-profile {
        float              : left;
        margin-top         : 3px;
        margin-right       : 10px;
        width              : 24px;
        height             : 24px;
        background-image   : url("../-img/b--input-usuario.png");
        background-position: center;
        background-size    : contain;
        background-repeat  : no-repeat;
      }

      .contract {
        float: left;
        @include button-12();
      }

      .first-name {
        text-align : left;
        line-height: 20px;
        @include button-12();
      }
    }

    .nav-secondary {
      display         : block;
      position        : relative;
      width           : 100%;
      height          : 40px;
      padding-top     : 0;
      padding-left    : 80px;
      font-size       : 14px;
      font-weight     : $ft-medium;
      background-color: $darkjungle;
      z-index         : 1;

      li {
        display      : inline-block;
        position     : relative;
        height       : 40px;
        padding-top  : 11px;
        padding-left : 30px;
        padding-right: 30px;
        margin-right : -3px;
        color        : $white;
        box-sizing   : border-box;

        &.active {
          color           : $darkjungle;
          background-color: $medium;
          font-weight     : $ft-bold;
          box-sizing      : border-box;

          &:hover {
            background-color: $medium;
          }
        }

        &:hover {
          background-color: $gris-1;
        }
      }
    }
  }
}
